<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HomeView</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@Url.Action("Index","Home")">Reserve Parking</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul  class="nav navbar-nav navbar-right">
                        @if (HttpContext.Current.Request.IsAuthenticated == false)
                        {
                            <li><a id="signIn" href="@Url.Action("LogIn", "Account")">Log In</a></li>
                            <li><a id="signup" href="@Url.Action("Create", "Account")">sign Up</a></li>
                        }else    
                        {
                            <li><a href="#"> @HttpContext.Current.User.Identity.Name</a></li>
                            <li><a id="Log Out" href="@Url.Action("LogOut", "Account")">Log Out</a></li>

                        }

                        <li><form class="navbar-form navbar-right">
                     <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">Search</button>
                        </form></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <nav class="navbar navbar-default ">
            <div class="container-fluid">
                <div class="navbar-header">

                    <button type="button" class="navbar-toggle collapse" data-toggle="collapse" data-target="#navbar-collapse1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>

                    </button>
                </div>
                </div>
            <div class="collapse navbar-collapse" id="#navbar-collapse1">
                <ul class="nav nav-tabs">
                    <li><a class="active" href="@Url.Action("Show","Parking")">Find Parking</a></li>
                    <li><a class="active" href="@Url.Action("ReserveView","Reservation")">Reserve</a></li>
                    @if(ViewContext.HttpContext.User.IsInRole("admin"))
                    {
                        <li><a href="@Url.Action("Create","Parking")">Add Parking</a></li>
                        <li><a href="#">Delete parking </a></li>
                        <li><a href="#">Edit Parking</a></li>
                    }
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Help</a></li>
                    </ul>
                </div>
            </nav>
    </header>

    @RenderBody()

    <footer></footer>
    <script type="text/javascript" src="~/Scripts/jquery-3.1.1.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
    <script type="text/javascript"  src="~/Scripts/jquery.validate.js"></script>
    <script type="text/javascript"  src="~/Scripts/jquery.validate.unobtrusive.js"></script> 
</body>
</html>